body {
  font: 14px "Century Gothic", Futura, sans-serif;
  height: 100%;
  margin: 20px;
}

table.greyGridTable {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

table.greyGridTable td,
table.greyGridTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}

table.greyGridTable tbody td {
  font-size: 13px;
}

table.greyGridTable td:nth-child(even) {
  background: #EBEBEB;
}

table.greyGridTable thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}

table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}

table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}

table.greyGridTable tfoot td {
  font-size: 14px;
}

@media (max-width: 420px) {
  .rdp {
    width: 80%;
    margin: auto !important;
  }
}

@media (min-width: 420px) {
  .rdp {
    width: 40%;
    margin: auto !important;
  }
}

.rdp-table {
  margin: auto;
}

.todayBtn {
  margin: auto;
  width: 150px;
  color: lightskyblue;
  margin-bottom: 20px;
  text-align: center;
}

.centered {
  margin: auto;
  margin-top: 10px;
  width: 14rem;
  text-align: center;
}

.rules-link {
  font-size: 20px;
  margin-top: 30px;
}

.rule {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 19rem;
}

.rules-title {
  padding-bottom: 15px;
}

ol {
  padding-left: 0;
}